<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치를 사용하여 이동 경로를 안내합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>이 앱은 항상 위치를 사용하여 이동 경로를 안내합니다.</string>

	<key>CFBundleIdentifier</key>
	<string>com.limjunhyeong.cbnuplanner</string>

	<key>CFBundleExecutable</key>
	<string>Runner</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>CFBundleName</key>
	<string>cbnu_planner</string>

	<key>CFBundleDisplayName</key>
	<string>Cbnu Planner</string>

	<key>CFBundleVersion</key>
	<string>1</string>

	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>

	<key>CFBundleGetInfoString</key>
	<string>Cbnu Planner 1.0.0</string>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
